/**, *:before, *:after {*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:after = {
  content: "";
  display: table;
  clear: both;
}

/*.box-model = {
  width: 200px;
  height: 200px;
  border: 200px;
  padding: 200px;
}
*/

body {
  background-image: ../projectluminar/resources/luminar.png;
  background-color: #100F0D;  /*Luminar's Black*/
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  
  /*background: red;*/
  
}

/*.container {
    width: 418px;
    height: 240px;
    overflow: hidden;
}*/


* {
/*border: 3px solid #73AD21;*/
}

.container {
  /*position: fixed;*/
  max-width: 100%;
}


.navigationbarcontainer {
  background-color: #F0F8FF;
  position: fixed;
  width: 100%;
  top: 0px;
  /*border: 2px solid red;*/
  

}

.navigationbarcontainer p {
    color: #768989;
}

.container img {
  /*position: center;*/ /*I think this is wrong*/

  height: 100%;
  width: 100%;

  opacity: 0;
}

.maincontent {
  /*max-width: 100%;*/
  /*background: yellow;*/
  display: block;
  background-color: #F0F8FF;


}

.content {
  max-width: 100%;
  word-wrap: break-word;
}

/*
.button {
  position: center;
  width: 200;
  height: 200;
  border: 3px;
  color: red;
  background-color: transparent;
  border-color: transparent;
  cursor: default;
}
*/
/*
a .aboutusbutton :hover {
  text-shadow: true;
}
*/

.textdisplaybox {
  /*For construction purposes*/
/*
  border: 3px;
  border-color: red;
  border-style: solid;
*/
  position: absolute;
  z-index:  98;
  /*left: 100px;*/
  /*width: 700px;*/
  width: 99%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  /*margin: auto;*/

  text-align: center;
/*  top: 0;
  right: 0;
  width: 200;
*/
}

.textdisplaybox p {

  width: 65%;
  height: 75%;
  margin-left: auto;
  margin-right: auto;
/*
  border-color: orange;
  border-style: solid;
  border-width: 1px;
*/
  font-size: 12; /* font-size doesn't change when argument changes */

  color: #A9A9A9; /* winner so far */
  /*color: #FFFAF0;*/
  /*color: #D3D3D3;*/
  /*color: #C0C0C0;*/
  /*color:  #696969;*/ /*second place*/
  /*color: #708090;*/
  /*color: #778899;*/
}

/*
#red {
  position: absolute;
  top: 50%;
  right: 50%;
  width: 50px;
  height: 150px;
  filter: brightness(1%);
}
*/
