html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

/*div {
  border: 1px solid #73AD21;;
}
*/

html, body {

  height: 100%;

  margin: 0;
  padding: 0;
  border: 0;

  background-color: #100F0D;    /*Luminar's Black*/
}

ul, li{
  list-style-type: none;
}

/* Navigation Bar */
#nav_bar {

}
ul.nav_menu {
  z-index: 1;
  
  width: 100%;
  position: fixed;
  list-style-type: none;
  margin: 0; 
  padding: 0; 
  overflow: hidden;
  
  background-color: #100F0D;    /*Luminar's Black*/
  /*background-color: #000000;*/  /*black*/
  /*background-color: cornsilk;*/
  
  /*opacity: 1;*/
  /*padding: 8px;*/
}
li.nav_menu_item {
  cursor: hand;
  padding: 8px;
  float: left;
  display: inline;
}
.nav_menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
}
.nav_menu li:hover:not(.active) {
  background-color: #444;
}


.active_page {
  background-color: #222;
}


.landing_image {
  /*height: 153px;*/
  width: 720px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}



.logo_hero {
  height: 300px;
}


.logo_image {
  position: relative;
  /*height: 153px;*/
  width: 720px;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50% );
}

.content {
  padding: 4px 16px;
  position: relative;
  /*position: fixed;*/
  min-height: 600px;
  /*height: 1000px;*/
  background-color: #FFFFFF;
  /*display: block;  */
}
.content h2 {
  margin-top: 50px;
}

textarea {
  min-height: 100px;
}

p {
  font-family: helvetica, arial, sans-serif;
  color:"red";
}

.content_section h5 {
  text-align: center;
}

#map {
 width: 100%;
 height: 400px;
 background-color: grey;
}


.footer {
  color: white;
  
  bottom: 0px;
  width: 100%;
  padding: 4px 16px;

  text-decoration: none;
  
  background-color: #100F0D;    /*Luminar's Black*/
  /*background-color: #000000;*/  /*black*/
  /*background-color: cornsilk;*/
}

.footer a {
  /*background-color: white;*/
  color: white;
}
  /*position: static;*/
  /*position: relative;*/
  /*position: absolute;*/
  /*position: fixed;*/


/*background-color: #dddddd;*/  /*white*/
/*background-color: #333333;*/  /*gray*/
/*background-color: #4CAF50;*/  /*green*/
/*background-color: #000000;*/  /*black*/
/*background-color: #FFFFFF;*/  /*white*/
/*background-color: #DDDDDD;*/  /*gray*/
/*background-color: cornsilk;*/
/*background-color: #100F0D;*/    /*Luminar's Black*/

























